{% extends "base.html" %}
{% import "bootstrap/form.html" as wtf %}


{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='background.css') }}">
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}

    <!-- Navigation -->

    {% if current_user.is_authenticated %}
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Ayush Zenith's Website for APCSP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link disabled" href="{{ url_for('login') }}">Login
                <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="{{ url_for('signup') }}">Sign Up</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('chathome') }}">Chat Rooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    {% else %}
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Ayush Zenith's Website for APCSP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('login') }}">Login
                <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
          </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="{{ url_for('chathome') }}">Chat Rooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="{{ url_for('profile') }}">Profile</a>
          </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="{{ url_for('logout') }}">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    {% endif %}

    <div class="container">
      <form class="form-signin" method="POST" action="/login">
        <h2 class="mt-5 text-light">Sign in</h2>
        {{ form.hidden_tag() }}
        {{ wtf.render_field(form.username,placeholder='Username') }}
        {{ wtf.render_field(form.password,placeholder='Password') }}
        {{ wtf.render_field(form.remember) }}
          <!--
        <label for="inputUsername" class="sr-only bigindex">Username</label>
        <input type="text" id="inputUsername" class="form-control mt-3" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only bigindex">Password</label>
        <input type="password" id="inputPassword" class="form-control mt-3" placeholder="Password" required>
        <div class="checkbox mt-2 text-light">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        -->
        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
{% endblock %}